@import url(styles.css);

/*estilos de la portada*/

#portada {
    background-color: #FFFFFF;
}

.texto_portada {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;

    & h1 {
        color: var(--colornegro)
    }
}

#portada2 {

    background-size: cover;
    background-position: center;
}

.portada2 {
    height: 600px;
}

.boton_portada {
    height: 100%;
}

.foto1 {
    width: 100%;
    height: auto;
}

.foto_portada {
    & img {
        width: 95%;
        height: 980px;
    }
}

.grid2 {
    width: 100%;
    height: 500px;
}

.testimonio1 {
    padding-bottom: 50px;
}

#texto_slogan {
    background-color: var(--colorceleste);
}

.texto_slogan {
    padding: 50px;
    text-align: center;
}